<div class="row mb-4">
    <div class="col">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary btn-sm {{ data.direction == 'desc' ? 'active' : '' }}"
               href="/{{ data.route }}?sort=desc">Свежие</a>
            <a class="btn btn-secondary btn-sm {{ data.direction == 'asc' ? 'active' : '' }}"
               href="/{{ data.route }}?sort=asc">Старые</a>
        </div>
    </div>
</div>